---
import BaseLayout from "./BaseLayout.astro";
import SiteShell from "../components/SiteShell.astro";

const { frontmatter } = Astro.props;
---

<BaseLayout title={frontmatter.title}>
  <SiteShell currentSlug="annexes">
    <article class="annexe-page">
      <h1>{frontmatter.title}</h1>
      <slot />
    </article>
  </SiteShell>
</BaseLayout>
